.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.boxCardMap {
  width: 100%;
}

.footer {
  width: 100%;
  padding: 1%;
  text-align: center;
  color: var(--black);
  background-color: white;
}
