.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-image: url('/images/fundo.jpg');
  background-repeat: no-repeat;
  background-position: initial;
  background-size: contain;
  border-bottom: 20% ;
 
  .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    .logo {
      padding: 5%;
      width: 40%;
    }

    .sub{
      display: flex;
      width: 100%;
      justify-content: center;
      color: var(--white);
    }
    .text {
      display: flex;
      width: 30%;
      justify-content:center;
      align-items: center;
      color: var(--white);
      font-weight:lighter;
      padding: 2% 0 2% 0;
    }
    
    .btn {
      margin: 5% 0 5% 0;
      background-color: var(--white);
      padding: 1%;
      border-radius: 20px;
      transition: 0.4s;
    }
    .btn:hover {
      background-color: var(--secondary-color);
      color: var(--white);
      cursor: pointer;
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -o-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1);
    }
  }

  .boxCards {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    .nossosPedidos {
      margin: 5% 0 5% 0;
      display: flex;
      justify-content: center;
      padding: 3%;
      width: 100%;
      background-color: var(--white);
      font-size: 30px;
    }
    
    .card{
      width: 300px;
    }

    .card:hover{
      cursor: pointer;
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -o-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1);
    }
    }
  }

